/*
File: style.css
GUI Assignment: Hw5, Creating a scrabble game.
David Lee, Umass Lowell, david_lee2@student.uml.edu
Date: 12/18/2024
Purpose: Like the previous homework the initial shell of the website was meant to use the bootstrap theme that we were able to mess around with in class. I made some
adjustments to format the website to better suit the game.
*/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

label {
    display: inline-block;
    text-align: left;
    width: 150px;
}

p {
    text-align: left;
}

.tracker-container {
    border-radius: 20px;
    border: 2px solid #565e64;
    padding: 20px;
}

#board {
    display: flex;
    padding: 20px;
    max-width: fit-content;
    margin-left: auto; /* also 325 px?*/
    margin-right: auto;
}

.sSlot {
    background-image: url("../image/Single.png");
    background-size: contain;
    width: 91px;
    height: 96px;
}

.dSlot {
    background-image: url("../image/Double.png");
    background-size: contain; /*ensures no repeats*/
    width: 91px;
    height: 96px;
}

.buttons{
    padding: 70px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#rack{
    display: flex;
    padding: 20px;
    background-image: url("../image/TileHolder.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 550px;
    height: 158px;
    margin-left: auto;
    margin-right: auto;
}

#iFlag0,#iFlag1,#iFlag2,#iFlag3,#iFlag4,#iFlag5,#iFlag6 {
    position: relative;
    border-radius: 5px;
    border: 1px solid black;
    width: 83px;
    height: 90px;
}